body {
  color: $brown;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.section {
  @include size(100% auto);
  position: relative;
}

h1, h2 {
  font-family: $serif;
  text-align: center;
  color: white;
}

nav {
  ul {
    list-style: circle;
  }
  li {
    display: inline-block;
  }
  a {
    padding: 0 10px;
    color: $blue;
    &:hover {
      color: $red;
    }
  }
}
