.hero {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  @include size(100% auto);

  .wrap {
    padding: 30px 0;
  }
}

#intro {
  height: 100vh;
  @extend .hero;
  background-image: url("/assets/intro.jpg");

  .overlay {
    background: rgba($brown, .2);
    height: 100vh;
    @extend .hero;
  };

  .scrollWrapper {
    position: absolute;
    bottom: 20px;
    @include center(x);
    @include size(100px);
    @include size(38px 44px);
    
    img {
      background-repeat: no-repeat;
      background-attachment: center;
      background-position: center;
      
      @include bounce(
        $duration: 3s,
        $delay: 3s,
        $count: infinite,
        $function: ease
      );
    }

    span {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 80%;
      bottom: -5px;
      font-size: 25px;
      font-family: $sans-serif;
      @include size(38px 44px);
      @extend h1;
      @include pulsate;
    }

    &:hover {
      cursor: pointer;
      
      img {
        opacity: 0;
      }

      span {
        opacity: 1;
        visibility: visible;
      }
    }
  };

  .introName {
    margin-top: 100px;
    margin-bottom: 0;
    @include font-size(50px);
    @include fadeInUp(
      $duration: 3s,
      $delay: .3s,
      $function: ease
    );
  };

  .introTitle {
    font-family: $sans-serif;
    @include font-size(15px);
    @include fadeInDown(
      $duration: 3s,
      $delay: .3s,
      $function: ease
    );
  }

  .resume {
    @include pulsate;
    @include fadeIn(
      $duration: 3s,
      $delay: 1.5s,
      $function: ease
    );
  }

  @include susy-breakpoint($medium) {
    .introName {
      margin-top: 100px;
      margin-bottom: 0;
      @include font-size(100px);
    }

    .introTitle {
       @include font-size(30px);
    }
  }
}