.intro {
  @include size(100% 100vh);
  position: relative;
}

.hero {
  background: url("/assets/hero.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center;
  @extend .intro;

  .overlay {
    @extend .intro;
  };

  .wrap {
    padding: 60px 0;
  }
}

