/* Susy Setup */
$susy: (
  columns: 12,
  gutters: 1/6,
  global-box-sizing: border-box
);

.wrap {
  @include container(80%);

  .row {
    @include container(100%);

    .stackIcons {
      @include span(6);
    }

    .projectDescription {
      @include span(5);
    }
  }
}