/* Minimal-devices */

.md-macbook-pro {
  font-size: .4em;
  margin: 20px auto 0 auto;

  @include susy-breakpoint($medium $large - 1) {
    font-size: .7em;
  };

  @include susy-breakpoint($large) {
    font-size: 1em;
  };

  .md-lid {
    @include size(45em 30.625em);
    margin: 0 auto;
    position: relative;
    border-radius: 1.875em;
    border: solid 0.1875em #cdced1;
    background: #131313;
  };

  .md-camera {
    @include size(0.375em 0.375em);
    margin: 0 auto;
    position: relative;
    top: 1.0625em;
    background: #000;
    border-radius: 100%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
  };
  
  .md-camera:after {
    content: "";
    display: block;
    @include size(0.125em 0.125em);
    position: absolute;
    left: 0.125em;
    top: 0.0625em;
    background: #353542;
    border-radius: 100%;
  };

  .md-screen {
    @include size(42.25em 26.375em);
    margin: 0 auto;
    position: relative;
    top: 2.0625em;
    background: #1d1d1d;
  };

  .md-base {
    @include size(100% 0.9375em);
    margin: 0 auto;
    position: relative;
    top: -0.75em;
    background: #c6c7ca;

    @include susy-breakpoint($large) {
      @include size(75% 0.9375em);
    }
  };

  .md-base:after {
    content: "";
    display: block;
    @include size(100% 0.5em);
    margin: 0 auto;
    position: relative;
    bottom: -0.1875em;
    background: #b9babe;
    border-radius: 0 0 1.25em 1.25em;
  };

  .md-base:before {
    content: "";
    display: block;
    @include size(7.6875em 0.625em);
    margin: 0 auto;
    position: relative;
    background: #a6a8ad;
    border-radius: 0 0 0.625em 0.625em;
  }
}

