/* Project */

@mixin project($overlay, $fontColor, $mobileColor) {
  background: $white;
  h2 {
    color: $fontColor;
  }
  .overlay {
    background: $overlay
  }

  @include susy-breakpoint(0 $small) {
    .overlay {
      background: $mobileColor;
    }
  }
}

/* border radius */

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

/* Pulsate Animation */

@mixin pulsate {
  -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -o-transition: all .3s ease; /* IE 9 */
  -ms-transition: all .3s ease; /* Opera */
  transition: all .3s ease;

  &:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
  }
}

/* Center elements */

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

/* rem fallback - credits: http://zerosixthree.se/ */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

