.screenshot {
  margin: auto;
  display: block;
  @include size(auto 100%);
}

.icon, .bracket {
  padding: 5px;
  @include size(auto 33px);
  @include susy-breakpoint($medium) {
    padding: 20px;
    @include size(auto 50px);
  }
}

.label {
  display: block;
  margin-top: 10px;

  @include susy-breakpoint($medium) {
    display: table-cell;
    vertical-align: middle;
  }
}

.octocat {
  @include size(auto 100px);
}