.screenshot {
  margin: auto;
  display: block;
  @include size(70% auto);
}

.stackIcon, .bracket {
  padding: 20px;
  @include size(auto 50px);
}

.label {
  display: table-cell;
  vertical-align: middle;
}