/* Desktop Nav  */
//tutorial from https://codyhouse.co/gem/vertical-fixed-navigation/ 
.dotNav {
	position: fixed;
	right: 40px;
	z-index: 1;
	@include center(y); 

  ul {
    list-style: none;
  }

	li {
		text-align: right;
	}

	a {
		display: inline-block;
		@include clearfix;
		
		span {
			float: right;
			display: inline-block;
			@include transform(scale(.7));
		}

		&:hover span {
      cursor: pointer;
			@include transform(scale(1.2)); 
		}

		&:hover .dotLabel {
			opacity: 1;
		}
	} 

	.dot {
		position: relative;
		top: 8px;
		border-radius: 50%;
		background-color: $color4;
		-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
		-moz-transition: -moz-transform 0.2s, background-color 0.5s;
		transition: transform 0.2s, background-color 0.5s;
		transform-origin: 50% 50%;	
    @include size(12px);
	}
    .active {
      .dot {
        background-color: $darkPurple;
      }
    }

	.dotLabel {
		position: relative;
		margin-right: 10px;
		padding: .4em .5em;
		color: $darkPurple;
		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		transition: transform 0.2s, opacity 0.2s;
		opacity: 0;
		transform-origin: 100% 50%;
		@include font-size(14px);
	}
}

/* Mobile Nav */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}