.screenshot {
  margin: auto;
  display: block;
  @include size(auto 100%);
}

.icon, .bracket {
  padding: 5px;
  @include size(auto 33px);
  @include susy-breakpoint($medium) {
    padding: 20px;
    @include size(auto 50px);
  }
}

.label {
  display: block;
  margin-top: 10px;

  @include susy-breakpoint($medium) {
    display: table-cell;
    vertical-align: middle;
  }
}

.octocat {
  margin: 10px;
  @include size(auto 100px);
}

#Tie-Chai {
  @include project(white, $color2);
}

#Seethroughme {
  @include project(white, $color4);
}

#ReUp {
  @include project(white, $color1);
}

#Shuriken {
  @include project(white, $color4);
}

#Shufflr {
  @include project(white, $color2);
}