/* Color Palatte */
$brown: rgba(80, 81, 79, 1);
$red: rgba(242, 95, 92, 1);
$yellow: rgba(255, 224, 102, 1);
$blue: rgba(36, 123, 160, 1);
$green: rgba(112, 193, 179, 1);

$color1: rgba(237, 106, 90, .05);
$color2: rgba(244, 241, 187, .05);
$color3: rgba(155, 193, 188, .05);
$color4: rgba(92, 164, 169, .05);
$color5: rgba(230, 235, 224, .05);

/* Font */
$serif: 'Playfair Display', serif;
$sans-serif: 'Raleway', sans-serif;

/* Breakpoints */
$small: 480px;
$medium: 840px;
$large: 1160px;
